@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f8f4;
}

/* Navbar section */
.container-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: #f9f8f4;
}

.navbar-active {
  background-color: #fff;
}

.navbar img {
  width: 190px;
  padding-left: 20px;
}

.navbar-menu a {
  text-decoration: none;
  padding-left: 40px;
  color: black;
  font-size: 16px;
}

.mobile {
  display: none;
  align-items: center;
}

.close {
  display: none;
}

/* Btn section */
.primary-btn {
  margin-right: 40px;
}

.btn {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.primary-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid gray;
  font-weight: 500;
}

.primary-btn :hover {
  fill: white;
  background-color: black;
  color: white;
}

svg {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/* Header section */
.header h1 {
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header p {
  font-size: 20px;
  line-height: 160%;
  padding-bottom: 45px;
}

.header a {
  position: relative;
  text-decoration: none;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  background-color: #000;

  z-index: 1;
}

.header a:hover {
  box-shadow: 5px 5px 5px gray;
}

.header-btn {
  background-image: url(./asset/img/arrow-outward.svg);
  background-position: 92% 55%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 16px 40px 16px 20px;
  cursor: pointer;
}

.illustation {
  text-align: center;
  margin-top: -80px;
}

.hero-img {
  width: 100%;
  height: 100%;
}

/* Client section */
.clients {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f8f4;
}

.client-img {
  display: flex;
  align-items: center;
}

.client-img img {
  max-width: 250px;
  padding-left: 40px;
}

/* Feature section */
.content {
  padding: 48px 60px 0px 60px;
  background-color: #fff;
}

.cont-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 48px;
} */

.feature {
  display: grid;
  padding-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid #e3e1de;
}

.feature-h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 120%;
}

.feature-text {
  max-width: 770px;
  margin-bottom: 0px;
  color: #121527;
  font-size: 14px;
  line-height: 160%;
}

/* Blog Container */

.blog-container {
  overflow: hidden;
  padding: 72px 60px;
  background-color: #fff;
}

.blog-info {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.description {
  flex-basis: 50%;
}

.text-label {
  max-width: 770px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: 3px;
}

.header-h2 {
  max-width: 770px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
}

.blog-text {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 24px;
  width: 80%;
}

.description a,
.service-items a,
.port-content a,
.loadmore-btn a {
  padding: 8px 32px 8px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e1de;
  background-color: transparent;
  background-image: url("https://assets.website-files.com/6229c581695b1439ca5bd352/622ae86673a6a664ff837ef8_icon-btn2.svg");
  background-position: 93% 50%;
  color: #121527;
  font-weight: 600;
  background-repeat: no-repeat;
}

.description a:hover,
.service-items a:hover,
.port-content a:hover,
.loadmore-btn a:hover {
  background-color: #121527;
  color: #fff;
  background-image: url(https://assets.website-files.com/6229c581695b1439ca5bd352/6229c86b5c4b7164d74f83ed_icon-btn.svg);
}

.small-padding {
  padding-left: 100px;
}

.list-features {
  margin-top: 24px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.txt-item {
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}

/* Testimonials section */
.testimonials {
  padding: 100px 60px;
}

.test-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.test-heading {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 770px;
}

.test-img {
  position: absolute;
  left: auto;
  top: 16%;
  right: 0%;
  bottom: auto;
  width: 72px;
}

.service {
  display: block;
  margin-top: 72px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-count: 3;
  column-gap: 16px;
}

.service-items {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  margin-bottom: 16px;
  padding: 24px;
}

.heading-4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

.service-item {
  margin-top: 16px;
}

.txt-tag {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 3px 7px;
  border-style: solid;
  border-width: 1px;
  border-color: #121527;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(18, 21, 39, 0.1);
  transition: all 100ms ease;
}

.sm-padding {
  padding-bottom: 20px;
}

/* Case section */

.case {
  background-color: #fff;
}

.case.first {
  padding-top: 150px;
}

.case-info {
  padding-left: 50px;
}

.case-info:nth-last-child(2),
.case-info:nth-last-child(4) {
  padding-left: 0px;
  padding-right: 50px;
}
.case-img img {
  width: 580px;
}

.case-text {
  font-size: 14px;
  margin-top: 10px;
}

.case-details {
  display: flex;
  margin-top: 80px;
}

.case-details-item:nth-last-child(1) {
  margin-left: 20px;
}

/* Portfolio  section */

.portfolio {
  background-color: #fff;
  padding: 150px 60px;
}

.port-info {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.port-content {
  display: flex;
  position: relative;
}

.port-svg {
  position: absolute;
  left: 50vw;
  top: 0%;
  right: auto;
  bottom: auto;
}

.port-svg img {
  width: 362px;
}

.tabs-portfolio {
  position: relative;
  margin-top: 62px;
}

.tabs-portfolio {
  margin-bottom: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e3e1de;
  border-bottom: 1px solid #e3e1de;
}

.port-menu-items {
  text-decoration: none;
  padding: 10px 20px;
  color: #58595a;
  font-weight: 500;
}

.active {
  color: #121527;
}

.portfolios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-row-gap: 18px;
  grid-auto-rows: auto auto;
}

.portfolios img {
  width: 380px;
}

.loadmore-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* THE PROCESS */
.process {
  padding: 100px 60px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-top: 72px;
}

.tabs-process {
  padding: 26px;
  border-bottom: 1px solid #e3e1de;
}

.tab-active {
  background-color: #fff;
}

.tab-link-process {
  width: 100%;
  text-decoration: none;
  color: #121527;
}

.tab-images img {
  margin-left: 100px;
  width: 600px;
}

/* Testimonials section */
.testimonial {
  padding: 150px 60px;
  background-color: #fff;
}

.tes-content {
  position: relative;
}

.tes-content img {
  position: absolute;
  left: 700px;
  top: -20%;
  right: 0%;
  bottom: auto;
  width: 100px;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);

  transform-style: preserve-3d;
}

.tes-featured {
  display: flex;
}

.feature-img {
  width: 760px;
}

.tes-feature-items {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: #f9f8f4;
}

.quotes-img {
  width: 30px;
  margin-bottom: 16px;
}

.profile {
  display: flex;
  margin-top: 76px;
}

.profile-item {
  margin-left: 16px;
}

/* testimonials quotes */
.test-quotes {
  display: flex;
  margin-top: 50px;
}

.tes-quotes {
  width: 50%;
}

.tes-white {
  background-color: #fff;
}

.tes-profile {
  width: 300px;
  margin-top: 0px;
  border-top: 1px solid #e3e1de;
  padding: 14px;
}

.tes-quotes:nth-last-child(2) {
  width: 400px;
}

/* PRICING PLAN*/

.pricing-plan {
  padding: 100px 60px;
}

.pricing {
  display: grid;
  position: relative;
  z-index: 1;
  margin-top: 72px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pricing-item {
  background-color: #fff;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing-item:hover {
  box-shadow: 0 30px 50px 0 rgba(18, 21, 39, 0.1);
  transform: scale(1.02);
}

.pricing-label {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 120%;
  font-weight: 800;
  letter-spacing: 3px;
}

.pricing-list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pricing-text {
  font-size: 16px;
}

.pr-text {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 24px;
}

.text-pricing {
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-pricing span {
  font-size: 16px;
  color: #58595a;
}

.pricing-list-item img {
  width: 24px;
  margin-right: 5px;
}

.btn-pricing {
  display: flex;
  justify-content: center;
}

.pricing-btn {
  border: none;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  padding: 12px 60px;
  text-align: center;
  font-weight: 600;
}

.pricing-btn:hover {
  box-shadow: 5px 5px 5px gray;
}

.pricing button {
  text-align: center;
  margin-top: 20px;
}

.sm-margin {
  margin-bottom: 80px;
}

.sm-margin1 {
  margin-bottom: 112px;
}

.custom-plan {
  padding: 30px;
}

.custom-plan img {
  margin-bottom: 18px;
}

.compare-btn {
  border: none;
  padding: 10px 32px 10px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e1de;
  background-color: transparent;
  background-image: url("https://assets.website-files.com/6229c581695b1439ca5bd352/622ae86673a6a664ff837ef8_icon-btn2.svg");
  background-position: 93% 50%;
  color: #121527;
  font-weight: 600;
  background-repeat: no-repeat;
}

.comare-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 48px;
}

.faqs {
  padding: 144px 60px 72px 60px;
  background-color: #fff;
}

.faqs-info {
  display: flex;
}

.fas-question {
  width: 700px;
}

.faqs-h4 {
  width: 100%;
}

.question {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e1de;
  cursor: pointer;
}

.div-content {
  width: 700px;
}

.fasq-q {
  display: flex;
  flex-direction: column;
}

.question-item {
  display: flex;
}

.question-item img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.faqs-btn {
  padding: 10px 34px;
  background-color: #fff;
  color: #121527;
  border: none;
  border: 1px solid #e3e1de;
}

.faqs-svg {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 370px;
  margin-top: 48px;
  margin-bottom: -178px;
}

/* Footer section */
.footer {
  padding: 150px 60px 50px 60px;
}

.footer-content {
  text-align: center;
}

.footer-content h2 {
  max-width: 1200px;
}

.footer-menu {
  display: grid;
  width: 100%;
  margin-top: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 36px;
}

.footer-item img {
  width: 190px;
  height: 60px;
}

.footer-p {
  margin-top: 0px;
}

.footer-heading {
  font-size: 16px;
  margin-bottom: 10px;
}

.text-link-footer {
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #121527;
}

/* Media Query 799 */

@media (max-width: 799px) {
  .navbar-btn a {
    display: none;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #f9f8f4;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
  }

  .navbar-menu.active {
    right: 0px;
  }

  .navbar-menu a {
    margin-bottom: 25px;
  }

  .mobile {
    width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
  }

  .nav_link {
    padding-left: 28px !important;
  }

  .block {
    padding: 0px;
  }

  .mobile img {
    width: 38px;
    height: 38px;
  }

  .close {
    display: initial;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .hero-img img {
    max-width: 750px;
  }

  .illustation {
    text-align: center;
    margin-top: -46px;
  }

  .header h1 {
    max-width: 1070px;
    margin-top: 0px;
    font-size: 55px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .header a {
    font-size: 12px;
  }

  .header p {
    font-size: 20px;
    line-height: 160%;
    padding-bottom: 28px;
  }

  .header-btn {
    padding: 14px 40px 14px 20px;
  }

  .client-img img {
    max-width: 126px;
    padding-left: 24px;
  }

  .feature img {
    width: 144px;
    height: 100px;
  }

  .feature-h3 {
    font-size: 20px;
  }

  .feature-text {
    font-size: 12px;
  }

  .blog-svg img {
    width: 320px;
  }

  .description h2 {
    font-size: 30px;
    margin-right: 20px;
  }

  .blog-text {
    font-size: 16px;
    width: 100%;
  }

  .service {
    column-count: 2;
  }

  .case-container {
    display: flex;
    flex-direction: column;
  }

  .text-label {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .header-h2 {
    font-size: 32px;
  }

  .case-img img {
    width: 100%;
  }

  .blog-container {
    padding: 40px 60px;
  }

  .case-info {
    padding-left: 0px;
  }

  .case-text {
    font-size: 15px;
    margin-top: 10px;
  }

  .case-details {
    margin-top: 14px;
  }

  .case-rev {
    flex-direction: column-reverse;
    display: flex;
  }

  .tabs-port-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs-portfolio {
    margin-bottom: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .port-svg img {
    width: 230px;
  }

  .port-svg {
    position: absolute;
    left: 51vw;
    top: 11%;
    right: auto;
    bottom: auto;
  }

  .portfolio {
    padding: 100px 60px;
  }

  .portfolios {
    grid-column-gap: 15px;
  }

  .portfolios img {
    width: 214px;
  }

  .testimonial {
    padding: 100px 60px;
    background-color: #fff;
  }

  .tab-images img {
    margin-left: 0px;
    margin-bottom: 30px;
    width: 600px;
  }

  .tes-content-heading {
    max-width: 550px;
  }

  .tes-content img {
    left: 500px;
  }

  .feature-img {
    width: 678px;
  }

  .tes-featured {
    display: block;
  }

  .tes-feature-items {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .profile-item {
    width: 70%;
  }

  .tes-text {
    width: 100%;
    font-size: 14px;
  }

  .tes-white {
    width: 234px;
  }

  .profile img {
    width: 38px;
  }

  .tes-profile {
    width: 100%;
    margin-top: 0px;
    border-top: 1px solid #e3e1de;
    padding: 14px;
  }

  .pricing {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .faqs {
    padding: 83px 60px 72px 60px;
  }

  .footer-menu {
    margin-top: 60px;
    margin-left: 0px;
  }

  .footer {
    padding: 150px 30px 50px 40px;
  }

  .faqs-bl {
    display: none;
  }

  .faqs-block {
    display: block;
  }
}

@media (max-width: 479px) {
  .header {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header h1 {
    font-size: 10vw;
  }

  .header p {
    font-size: 16px;
  }

  .hero-img img {
    overflow: hidden;
    width: 90%;
    height: 100%;
  }

  .client-img {
    display: flex;
    flex-wrap: wrap;
  }

  .client-img img {
    max-width: 126px;
    padding-left: 24px;
  }

  .feature {
    grid-template-areas: "." "." "Area";
    grid-template-columns: 1fr;
  }

  .feature img {
    width: 90%;
    height: 24vh;
  }

  .feature-text {
    font-size: 16px;
  }

  .feature-h3 {
    font-size: 22px;
  }

  .blog-content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .blog-rev {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .small-padding {
    padding: 0px;
  }

  .testimonials {
    padding: 72px 20px;
  }

  .test-img {
    top: -20%;
  }

  .service {
    column-count: 1;
  }

  .case.first {
    padding-top: 80px;
  }

  .blog-container {
    padding: 48px 20px;
  }

  .case-info:nth-last-child(2),
  .case-info:nth-last-child(4) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .portfolio {
    padding: 100px 20px;
  }

  .portfolios img {
    width: 170px;
  }

  .port-svg {
    left: 40vw;
    top: 66%;
  }

  .port-svg img {
    width: 184px;
  }

  .portfolios {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .process {
    padding: 72px 20px;
  }

  .port-heading {
    max-width: 270px;
  }

  .tabs {
    margin-top: 40px;
  }

  .tab-images img {
    margin-left: 0px;
    margin-bottom: 30px;
    width: 386px;
  }

  .testimonial {
    padding: 100px 20px;
    background-color: #fff;
  }

  .header-h2 {
    font-size: 7vw;
  }

  .tes-content img {
    left: 276px;
  }

  .feature-img {
    width: 100%;
  }

  .profile {
    margin-top: 30px;
  }

  .profile img {
    width: 54px;
  }

  .test-quotes {
    display: block;
    margin-top: 50px;
  }

  .tes-white {
    width: 100%;
    background-color: #f9f8f4;
    margin-bottom: 30px;
  }

  .block {
    padding: 0px;
  }

  .pricing-plan {
    padding: 80px 20px;
  }

  .pricing {
    margin-top: 40px;
  }

  .pricing {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .custom-plan img {
    width: 100%;
  }

  .pricing button {
    width: 100%;
  }

  .faqs {
    padding: 72px 20px 40px 20px;
  }

  .faqs-info {
    display: block;
  }

  .faqs-block {
    display: none;
  }

  .faqs-bl {
    display: block;
  }

  .faqs-bl img {
    width: 370px;
  }

  .footer-menu {
    grid-template-columns: 1fr 1fr;
  }

  .footer-pad {
    margin-top: 20px;
  }

  .div-content {
    width: 100%;
  }

  .footer-menu {
    grid-column-gap: 9px;
    grid-row-gap: 16px;
  }
}
